langchain 
langchain_experimental 
langchain-huggingface
openai 
sqlalchemy 
pandas 
psycopg2-binary 
langchain-openai 
streamlit 
python-dotenv
unstructured
faiss-cpu
nltk
dropbox
langchain-community 
sentence_transformers
tqdm 
pickle-mixin
nltk
pandas
docx2txt
openpyxl
pylint
black